<footer>
    <div class="home-info">
        <div class="inner center">
        <span class="home-info-img">
            <img src="./images/index/foot.png" alt="" />
        </span>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="inner">
            <div class="col-md-8 footbar-left">
                <p class="footbar-left-line"></p>
                <p class="footbar-left-about">
                    关于我们<span class="sep">|</span>
                    联系我们<span class="sep">|</span>意见反馈
                </p>
                <p class="footbar-left-copyright">
                    保卫苹果 © 1997-2016 ICP证：浙B2-20160106  浙ICP备15041168号
                </p>
            </div>
            <div class="col-md-4 footbar-right">
            <span class="footbar-right-icon col-md-4">
                <img src="./images/index/update.png" alt="" />
                <span>
                    每天更新
                </span>
            </span>
            <span class="footbar-right-icon col-md-4">
                <img src="./images/index/protect.png" alt="" />
                <span>
                    保卫苹果
                </span>
            </span>
            <span class="footbar-right-icon col-md-4">
                <img src="./images/index/strict.png" alt="" />
                <span>
                    严选好货
                </span>
            </span>
            </div>
        </div>
    </div>
</footer>