{{#extend "stylesheets"}}
    <link rel="stylesheet/less" type="text/css" href="/less/index.less"/>
{{/extend}}

<div class="home-bg">
    <img src="./images/index/bg.jpg" alt=""/>
</div>

<div class="home-container">
    <div class="inner">

    </div>
</div>

{{#extend "scripts"}}

{{/extend}}
